.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
